  <table class="group-overview-header">
    <tr>
      <td>
        <h2>{{group.name}}</h2>
      </td>
      <td class="group-icon-buttons">
        <mat-icon class="small-right-margin" (click)="onAddTransaction()" matTooltip="Add transaction">add_shopping_cart</mat-icon>
        <mat-icon class="small-right-margin" (click)="onAddMember()" matTooltip="Add member">group_add</mat-icon>
        <mat-icon (click)="onLeaveGroup()" matTooltip="Leave group">delete</mat-icon>
      </td>
    </tr>
  </table>

<app-balance-table *ngIf="balances" [balances]="balances"></app-balance-table>

<app-standing-order-table [standingOrders]="standingOrders"></app-standing-order-table>

