.group-overview-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.action-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.group-icon-buttons {
  text-align: right;
}

mat-icon:hover {
  cursor: pointer;
}
