<mat-form-field>
  <mat-label>Payer</mat-label>
  <mat-select class="vimium-button" [(ngModel)]="payer" (selectionChange)="onFilterChange()">
    <mat-option>Any payer</mat-option>
    <mat-option *ngFor="let p of participants" [value]="p">{{p}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="small-left-margin">
  <mat-label>Involved</mat-label>
  <mat-select class="vimium-button" [(ngModel)]="involved" (selectionChange)="onFilterChange()">
    <mat-option>Any involved</mat-option>
    <mat-option *ngFor="let p of participants" [value]="p">{{p}}</mat-option>
  </mat-select>
</mat-form-field>
