<h2>Transaction Details</h2>

<table>
  <tr>
    <td>Title</td>
    <td>{{transaction.comment}}</td>
  </tr>
  <tr>
    <td>Amount</td>
    <td>{{transaction.amount}}</td>
  </tr>
  <tr>
    <td>Creator</td>
    <td>{{transaction.creator}}</td>
  </tr>
  <tr>
    <td>Creation date</td>
    <td>{{transaction.timestamp | date: 'dd.MM.yyyy': 'UTC+1'}}</td>
  </tr>
  <tr>
    <td>Creation time</td>
    <td>{{transaction.timestamp | date: 'HH:mm': 'UTC+1'}}</td>
  </tr>
  <tr>
    <td>Payer</td>
    <td>{{transaction.payer}}</td>
  </tr>
  <tr>
    <td>Involved</td>
    <td>
      <ul>
        <li *ngFor="let inv of transaction.involved">{{inv}}</li>
      </ul>
    </td>
  </tr>
</table>

<div>
  <button mat-raised-button color="primary" (click)="onRevertTransaction()">Revert transaction</button>
</div>
