<div class="login-card">
  <mat-card>
    <mat-card-title>Login</mat-card-title>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()" autocomplete="off">
        <div>
          <mat-form-field class="full-width-input">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width-input">
            <mat-label>Password</mat-label>
            <input matInput type='password' formControlName="password">
          </mat-form-field>
        </div>

        <div>
          <mat-error *ngIf="loginInvalid">
            Incorrect username or password!
          </mat-error>
        </div>

        <div class="small-top-margin">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
        </div>
      </form>

      <div class="small-top-margin">
        Don't have an account? <a routerLink="signup">Sign up</a>
      </div>
      <div class="small-top-margin">
        <a routerLink="forgotpassword">Forgot password?</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
