<h2>Transactions</h2>

<ng-container *ngIf="participants$ | async as participants; else loading">
  <app-transaction-list-filter
    [participants]="participants"
    [payer]="payer"
    [involved]="participant"
    (changedFilter)="onChangedFilter($event)">
  </app-transaction-list-filter>
</ng-container>

<ng-template #loading>
  <mat-spinner class="small-margin-bottom" [diameter]="25"></mat-spinner>
</ng-template>

<app-transaction-list
  [transactions$]="transactions$"
  (scrollToBottom)="onLoadMoreTransactions()">
</app-transaction-list>

<app-top-level-spinner class="stack-top" *ngIf="showTransactionSpinner"></app-top-level-spinner>
