<div class="authentication-card">
  <mat-card>
    <mat-card-title>Reset password</mat-card-title>

    <mat-card-content>

      <form [formGroup]="form" (ngSubmit)="onChangePassword()" autocomplete="off">
        <div>
          <mat-form-field class="full-width-input">
            <mat-label>New password</mat-label>
            <input type="password" matInput formControlName="password">
          </mat-form-field>
        </div>

        <div class="small-top-margin">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Change password</button>
        </div>
      </form>

      <div class="small-top-margin">
        Go back to <a routerLink="/login">login.</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
