table {
  max-width: 95vw;
  width: 600px;
}

.mat-column-amount {
  text-align: right;
  justify-content: flex-end;
  padding: 15px 5vw 15px 0;
}


.mat-column-title {
  padding: 15px 2vw 15px 0;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 10px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 10px;
}

.mat-row:hover {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}

.mat-header-row {
  background-color: rgb(220, 220, 220);
}

