<table mat-table [dataSource]="transactions$" class="mat-elevation-z5">
  <!-- Position Column -->
  <ng-container matColumnDef="payer">
    <th mat-header-cell *matHeaderCellDef> Payer </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.payer}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.amount | number: '1.2-2'}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.comment}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row class="vimium-button" *matRowDef="let row; columns: displayedColumns;" (click)="onClickTransaction(row)"></tr>
</table>
